<header>
    <nav>
        <a href="/">Snoefoe's Stash</a>
        <ul>
            <li><a href="/rewards">Rewards</a></li>
            <li><a href="/rewards/new">Add Reward</a></li>
        </ul>
    </nav>
</header>